a {
    text-decoration: none;
  }

  body {
    width: 1425px;
    height: 615px;

    background: #FFFFFF;
  }

  #sidebar {
    position: absolute;
    width: 199px;
    height: 520px;
    left: 10px;
    top: 45px;
  }

  .sidebar-header {
    position: absolute;
    width: 78px;
    height: 55px;
  }

  .logotxt {
    display: inline-block;
    position: absolute;
    width: 39.25px;
    height: 15.49px;
    left: 38.75px;
    top: 19.76px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */


    color: #000000;
  }

  .logopic {
    position: absolute;
    width: 40.78px;
    height: 55px;
  }

  .addicon {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 177px;
    top: 17px;
    border: 2px solid #815DFE;
    border-radius: 50%;
    background: #F3F6FF;
    text-align: left;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;

  }

.addtxt {
  color: #815DFE;
     /* display: inline-block;
    position: absolute;
    width: 8px;
    height: 18px;
    left: 5px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px; */


  }

  /* .ellipse {
    width: 18px;
    height: 18px;
    border: 2px solid #815DFE;
    border-radius: 50%;
    background: #F3F6FF;
  } */

  .explore {
    display: inline-block;
    position: absolute;
    width: 95px;
    height: 17px;
    left: 23px;
    top: 93px;
  }

  .asset {
    position: absolute;
    width: 120px;
    height: 17px;
    left: 23px;
    top: 153px;
  }

  .mail {
    position: absolute;
    width: 184px;
    height: 17px;
    left: 23px;
    top: 213px;
  }

  .profile {
    position: absolute;
    width: 87px;
    height: 17px;
    left: 23px;
    top: 273px;
  }

  .logout {
    position: absolute;
    width: 89px;
    height: 21px;
    left: 23px;
    top: 499px;
  }

  .explore a {
    position: absolute;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    left: 28px;
    color: #000000;
  }

  .link {
    position: absolute;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;

    color: #CFCFCF;
    left: 28px;
  }

  .sidelogo {
    display: inline-block;
    position: absolute;
    width: 14px;
    height: 14px;
    top: 3px;
  }

  .main {
    position: absolute;
    width: 1216px;
    height: 615px;
    left: 224px;
    top: 0px;

    background: #F6F6FD;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
    border-radius: 64px 0px 0px 64px;
  }

  .bgimage {
    background-image: url(bgpattern.png);
    position: absolute;
    width: 195px;
    height: 295px;
    left: 1025px;
    top: -90px;
    background-repeat: no-repeat;
  }

  .heading {
    position: absolute;
    width: 168px;
    height: 38px;
    left: 64px;
    top: 58px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    /* identical to box height */


    color: #545151;
  }

  button {
    position: absolute;
    width: 164px;
    height: 34px;
    left: 1011px;
    top: 64px;
    background: #5E5ADF;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    z-index: 1;
  }

  .customtxt {
    position: absolute;
    width: 126.09px;
    height: 8.81px;
    left: 28.02px;
    top: 8px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;
    z-index: 2;
  }

  .addsign {
    position: absolute;
    width: 11.54px;
    height: 28px;
    left: 13.19px;
    top: 3px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    z-index: 3;
    color: #FFFFFF;
  }

  .certificates {
    position: absolute;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    width: 1134px;
    height: 410px;
    left: 69px;
    top: 134px;
  }

  #certificate {
    position: absolute;
    width: 270px;
    height: 190px;
    left: 0px;
    top: 0px;

  }

  .gdsctxt {
    position: absolute;
    width: 90px;
    height: 14px;
    left: 93px;
    top: 168px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #2E2D53;
    z-index: 4;
  }

  .certificateimg {
    position: absolute;
    width: 238.13px;
    height: 167.75px;
    left: 16px;
    top: 11px;
    filter: drop-shadow(0px 0px 11px rgba(0, 0, 0, 0.25));
    z-index: 3;
  }

  .rectangle1 {
    position: absolute;
    width: 270px;
    height: 190px;
    background: #5E5ADF;
    z-index: 1;
  }

  .rectangle2 {
    position: absolute;
    width: 270px;
    height: 190px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 87.5%);
    z-index: 2;
  }